

@media(max-width:1999px) {
  
  .principal-section{
      transform: scale(0.9);
      max-width: 100%;
  }

  }


@media(max-width:1699px) {
  
  .principal-section{
      transform: scale(0.9);
      max-width: 100%;
  }

}




@media(max-height:899px) {
    .principal-section {
        transform: scale(0.9);
    }
  }
  
  @media(max-width:1499px) {
  
    .principal-section{
        transform: scale(0.9);
        max-width: 100%;
    }

  }
  


  @media(max-height:699px) {
    .principal-section
     {
        transform: scale(0.8);
        max-width: 100%;
    }


  }
  
  @media(max-width:1199px) {
    .principal-section {
        transform: scale(0.8);
        max-width: 100%;
		margin-left: -70px;
    }

  
  }
  
  @media(max-width:1012px) {
    .principal-section {
        transform: scale(0.8);
        max-width: 100%;
		margin-left: -70px;
    }

  }
  
  
  @media(max-width:890px) {
    .principal-section {
        transform: scale(0.7);
        max-width: 100%;
		margin-left: -170px;
    }

    .modal-section {
      transform: scale(0.7);
      margin-left: -240px;
      margin-top: -85px;
    }

    .erp-modal {
      transform: scale(0.7);
      margin-left: 30px;
      margin-top: 8px;
    }
  
  }
  
  
  @media(max-width:690px) {
    .principal-section {
        transform: scale(0.5);
        max-width: 100%;
		margin-left: -180px;
    }

    .modal-section {
      transform: scale(0.6);
      margin-left: -265px;
      margin-top: -105px;
    }

  
  }
  
  @media(max-width:490px) {
    .principal-section {
        transform: scale(0.4);
        max-width: 100%;
		margin-left: -100px;
    }
  
  }



.principal-section {
	display: flex;
	margin-top: -110px;
	scale: 0.8;
}


.linhas-central-img {
	display: table;
	width: 600px;
	margin-top: 300px;
	margin-left: 350px;;
}

.gestao-patio-botao {
	margin-top: -393px;
	margin-left: 390px;

	
}
.gestao-patio-botao img{
	transition: all 0.2s ease-in;
	width: 495px;

	
}
.gestao-patio-botao img:hover {
	scale:1.1;
}




.wms-wis-botao {
	margin-top: -365px;
	margin-left: 90px;
}
.wms-wis-botao img {
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.wms-wis-botao img:hover {
	scale: 1.1;
}


.api-botao {
margin-top: 40px;	
margin-left: 202px;
}
.api-botao img{
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.api-botao img:hover {
	scale:1.1;
}


.perifericos-botao{
	margin-top: -170px;
	margin-left: 660px;
}
.perifericos-botao img{
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.perifericos-botao img:hover {
	scale: 1.1;
}


.ronda-botao {
	margin-left: 895px;
	margin-top: -433px;
}
.ronda-botao img{
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.ronda-botao img:hover {
	scale: 1.1;
}


.wms-senior-botao {
	margin-left: 335px;
	margin-top: -560px;
}
.wms-senior-botao img{
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.wms-senior-botao img:hover {
	scale: 1.1;
}


.erp-botao {
	margin-left: 825px;
	margin-top: -190px;
}
.erp-botao img{
	width: 300px;
	transition: all 0.2s ease-in;
  cursor: pointer;
}
.erp-botao img:hover {
	scale: 1.1;
}





.item {
  cursor: pointer;
  position: relative;
}


/*
.modal {
  display: none;
  position: relative;
  top: -40px;
  left: 340px; 
  transform: translate(-50%, -50%);
  width: 105px; 
  max-width: 80%; 
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  z-index: 1;
}

.erp-modal {
  display: none;
  position: absolute;
  top: -28px; 
  left: 1040px; 
  transform: translate(-50%, -50%);
  width: 105px; 
  max-width: 80%; 
  height: 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  z-index: 1;
}

.modal-content {
  position: relative;
}

.close {
  position: absolute;
  top: -30px;
  right: -5px;
  font-size: 30px;
  cursor: pointer;
}


.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.texto {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-decoration:none;
}

.texto:hover {
  scale: 1.1;
}


*/